{% extends 'poivre/base.html' %}
{% load static %}
{% block content %}
    <!-- END nav -->

    <section class="ftco-section">
      	<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-7 ftco-animate">
					<form class="billing-form" id="form">
						<h3 class="mb-4 billing-heading">Shipping Information</h3>
						<div class="row align-items-end">
							<div class="col-md-6" id="uname">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" id='name' name="name" class="form-control" placeholder="username...">
								</div>
							</div>
							<div class="col-md-6" id="uemail">
								<div class="form-group">
									<label for="email">Email Address</label>
									<input type="email" id='email' name="email" class="form-control" placeholder=" Email...">
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="country">State / Country</label>
									<div class="select-wrap">
										<div class="icon"><span class="ion-ios-arrow-down"></span></div>
										<select name="" id="" class="form-control">
											<option value="Cameroon">Cameroon</option>
											<option value="">Gabon</option>
											<option value="">Tchad</option>
											<option value="">Republique Centrafique</option>
											<option value="">Congo-Brazzaville</option>
											<option value="">Guinée Equatorial</option>
										</select>
									</div>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
								<label for="towncity">Town / City</label>
								<input type="text" name="city" class="form-control" placeholder="">
							</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="phone">Phone</label>
									<input type="tel" name="phone" id="phone" class="form-control" placeholder="" required>
								</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-6">
								<div class="form-group">
								<label for="streetaddress">Street Address</label>
								<input type="text" name="streetaddress" id="streetaddress" class="form-control" placeholder="House number and street name">
							</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								<input type="text" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
							</div>
							</div>
							<div class="w-100"></div>
							<div class="col-md-12">
								<div class="form-group mt-4">
									<div class="radio">
										<label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
										<label><input type="radio" name="optradio"> Ship to different address</label>
									</div>
								</div>
							</div>		
							<hr>
							<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
						</div>
					</form>
					<!-- ENDFORM -->
					<div class="col-md-12 hidden2" id="payment-info">
						<div class="cart-detail p-3 p-md-4">
							<h3 class="billing-heading mb-4">Payment Method</h3>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
									<label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
									<label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
									<label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="checkbox">
									<label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
									</div>
								</div>
							</div>
							<p><a href="#" id="make-payment" class="btn btn-primary py-3 px-4">Place an order</a></p>
						</div>
					</div>
				</div>
				<div class="col-xl-5">
					<div class="row mt-5 pt-3">
						<div class="col-md-12 d-flex mb-5">
							<div class="cart-detail cart-total p-3 p-md-4">
								<h3 class="billing-heading mb-4">Cart Total </h3>
								<p class="d-flex">
											<span>Subtotal</span>
											<span>{{ order.get_cart_total }} FCFA</span>
										</p>
										<p class="d-flex">
											<span>Delivery</span>
											<span>0.00</span>
										</p>
										<p class="d-flex">
											<span>Discount</span>
											<span>0.00</span>
										</p>
										<hr>
										<p class="d-flex total-price">
											<span>Total</span>
											<span>{{ order.get_cart_total }} FCFA</span>
										</p>
										<p>
											<a href="cart.html" class="btn btn-primary py-3 px-4">&#x2190; Back to Cart</a>
										</p>
							</div>
						</div>
					</div>
				</div> <!-- .col-md-8 -->
			</div>
      	</div>
    </section> <!-- .section -->

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
	</section>
	<style>
		.hidden2{
			display: none;
		}
	</style>
	<script type="text/javascript">
		var total = '{{order.get_cart_total}}'

		if (user != 'AnonymousUser'){
			 document.getElementById('uname').innerHTML = ''
			 document.getElementById('uemail').innerHTML = ''
		 }
		 var form = document.getElementById('form')
		 form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden2");
	    	document.getElementById('payment-info').classList.remove("hidden2");
		})
		
		
		
	    document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })
	    

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':form.streetaddress.value,
				'city':form.city.value,
				'state': "Cameroon",
				'phone':form.phone.value,
			}


	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				// vider la cache cookie une fois le paiement effectué + redirection
				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'home' %}"

				})
	    }
		
	</script>
	{% endblock content %}