{% extends 'poivre/base.html' %}
{% load static %}
{% block content %}
    <!-- END nav -->
    {% if sauvegarde == True %}
    <center>
      <br> <br> <br> <br> <br> <br> <br>
      <h5> {{ sauvegarde }}</h5>
      <p>Votre avis a été bien pris en compte</p>
      <br>
      <p style="color: greenyellow;">Penjaman vous dit Merci...</p>
      <br> 
      <h5>Revenez à l'accueil à partir de ce lien</h5> 
      <br>
      <a href="{% url 'home' %}"><button class="btn btn-primary py-3 px-5">ACCUEIL</button></a>
      <br>
      <br> <br> <br> <br> <br> <br>
    </center>
    {% else %}
    <hr>
   <center><h1><span class="subheading">Laissez Votre Avis ici!</span></h1></center>
   <hr>
    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-9 order-md-last d-flex">
            <form method="post" enctype="multipart/form-data" class="justify-content-center">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit", class="btn btn-outline-success">Submit your review</button>
             </form>
          
          </div>

          <div class="col-md-3 d-flex">
          	<!--<div id="map" class="bg-white"></div> -->
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    {% endblock content %} 